@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

  body {
    @apply bg-orange-50 font-body text-gray-800 dark:bg-gray-900 dark:text-orange-50;
  }

  h2 {
    @apply p-4 text-lg font-semibold text-primary-100;
  }
}

@layer components {
  a.github:hover svg {
    fill: #6e5494;
  }
  a.twitter:hover svg {
    fill: #1da1f2;
  }
  a.linkedin:hover svg {
    fill: #0077b5;
  }
}
